.footer {
    border-top: 1px solid red;
    height: 60px;
    padding-top: 20px;
    display: block;
    margin-top: 120px;
    box-sizing: border-box;
    position: relative;
    float: left;
    width: 100%;
}

